$color-bistre: #30221c;
$color-safety-orange: #e98032;
$color-fondo-navbar: rgba(0, 0, 0, 0.744);
$color-white-smoke: #f1f0ee;
$color-pearl: #f9f5ee;
$color-silver: #8f8f8f;
$color-payne-gray: #536b78;
$color-burnt-orange: #b95b13;
$color-orange: #9b4503;
$color-green: #008248;
$color-green-lime: #00d878;
$color-fondo-navbar-dark: #212325;
$color-fondo-card: #34373a;
