@import "../../sass/global.scss";

.footer {
  height: auto;
  box-shadow: 0 -1px 2px rgba(255, 255, 255, 0.15),
    0 -2px 4px rgba(255, 255, 255, 0.1), 0 -3px 6px rgba(255, 255, 255, 0.05);
  background-color: $color-fondo-navbar-dark;
  width: 100%;
  display: flex;
  z-index: 3000;
  position: relative;

  justify-content: space-between;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.footer-content {
  position: relative;
  display: flex;
  flex-direction: column; /* change to column  */
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  object-fit: cover;
  &__date {
    margin-top: 0px;
    color: white;
    position: absolute;
    bottom: 0;
  }
}

.footer-ul-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  &__img {
    width: 30px;
  }
}

.footer-ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 30px;
  &__img {
    margin-top: 30px;
    width: 150px;
  }

  &__text {
    margin-left: 15px;
    font-weight: 400;
    color: #8f8f8f;
    margin-right: 15px;
    text-align: center;
    font-family: $font-secundary;
    font-size: medium;
  }

  @include tablet() {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    &__img {
      margin-top: 0;
    }
  }
}
